<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title id ='title'>Add Activity</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form style="margin-left: 1em" #addacForm ="ngForm" (ngSubmit)="addAc()" [formGroup]="AcForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Activity Name"  name="name" required formControlName="name">
              <mat-error *ngFor="let validation of validation_messages.name">
                  <mat-error class="error-message" *ngIf="AcForm.get('name').hasError(validation.type) &&
                  (AcForm.get('name').dirty || AcForm.get('name').touched)"> {{validation.message}}
                  </mat-error>
                  </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Description" name="desc" required formControlName="desc">
              <mat-error *ngFor="let validation of validation_messages.desc">
                <mat-error class="error-message" *ngIf="AcForm.get('desc').hasError(validation.type) &&
                (AcForm.get('desc').dirty || AcForm.get('desc').touched)"> {{validation.message}}
                </mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>

         <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Location"  name="loc" required formControlName="loc">
              <mat-error *ngFor="let validation of validation_messages.loc">
                <mat-error class="error-message" *ngIf="AcForm.get('loc').hasError(validation.type) &&
                (AcForm.get('loc').dirty || AcForm.get('loc').touched)"> {{validation.message}}
                </mat-error>
                </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Start Date" type="date" onfocus="(this.type='date')" required formControlName="regStart">
                <mat-error *ngFor="let validation of validation_messages.regStart">
                  <mat-error class="error-message" *ngIf="AcForm.get('regStart').hasError(validation.type) &&
                  (AcForm.get('regStart').dirty || AcForm.get('regStart').touched)"> {{validation.message}}
                  </mat-error>
                  </mat-error>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="End Date" type="date" onfocus="(this.type='date')" required formControlName="regEnd">
                <mat-error *ngFor="let validation of validation_messages.regEnd">
                  <mat-error class="error-message" *ngIf="AcForm.get('regEnd').hasError(validation.type) &&
                  (AcForm.get('regEnd').dirty || AcForm.get('regEnd').touched)"> {{validation.message}}
                  </mat-error>
                  </mat-error>
              </mat-form-field>
            </td>
          </tr>

        <tr>
          <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Date of activity" name="when" type= "date" required formControlName="when">
                  <mat-error *ngFor="let validation of validation_messages.when">
                    <mat-error class="error-message" *ngIf="AcForm.get('when').hasError(validation.type) &&
                    (AcForm.get('when').dirty || AcForm.get('when').touched)"> {{validation.message}}
                    </mat-error>
                    </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Time of Activity" [ngxTimepicker]="picker" [format]="24" name="time" required formControlName="time">
                      
                      <mat-error *ngFor="let validation of validation_messages.time">
                        <mat-error class="error-message" *ngIf="AcForm.get('time').hasError(validation.type) &&
                        (AcForm.get('time').dirty || AcForm.get('time').touched)"> {{validation.message}}
                        </mat-error>
                        </mat-error>
                    </mat-form-field>
              </td>
            </tr>
        <tr>
          <td>
              <mat-form-field>
                  <mat-select placeholder="Select Teachers" name="teacher" required formControlName="teacher">
                    <mat-option *ngFor="let t of teachers" [value]="t.id" >
                      {{t.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="AcForm.get('teacher').hasError('required')">Please choose a teacher</mat-error>
                </mat-form-field>
        </td>
        </tr> 
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions class="button">
    <button mat-raised-button (click)="addAc()" [disabled]="!addacForm.form.valid" color="primary">Add Activity</button>
  </mat-card-actions>
</mat-card>
