/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-nav-list .mat-list-item {
    color: white;
}

.mat-nav-list .router-link-active {
    border-bottom: 4px solid yellow;
}

