.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100%;
    margin-bottom: 1em;
    padding-right: 0px;
}

.mat-toolbar .spacer {
    width: 100%;
}

.mat-toolbar .mat-button {
    padding-right: 90px;
    margin-right: 2px;
}

.mat-nav-list {
    padding-top: 3px;
    padding-bottom: 3px;
}

.mat-nav-list .mat-list-item {
    height: 100%;
    padding: 0;
}
 
a.mat-list-item.router-link-active {
    font-weight: bold;
    background-color: #c44433 ;
}
 
